body{
  background-color: #8F9B43;
}

h1{
  color: #393970;
  font-size: 20px;
}

h1:hover{
  font-size: 22px;
  transition: 2s font-size ease-out; 
}

p{
  color: #7777A1;
  font-size: 15px;
}

p:hover{
  font-size: 18px;
  transition: 3s font-size ease-out;
}

a{
  color: #E6ACA0;
  text-decoration: 1px dotted #E6ACA0;
}

a:hover{
  color: #A05444;
  text-decoration: 1px dotted #A05444;
  transition: 1s linear;
}

a:focus{
  color: #803424;
  text-decoration: 1px dotted #803424;
}

.explainpls{
  color: #7777A1;
  font-size: 12px;
}

.explainpls:hover{
  font-size: 16px;
  transition: 3s font-size ease-out;
}

h2{
  color: #393970;
  font-size: 20px;
}
